```{=html}
<div class="pub-list">

<% for (const item of items) { %>

  <!-- Year heading -->
  <h2><%- item.category %></h2>

  <div class="pub-list list">
    <% for (const tile of item.tiles) { %>

      <a href="<%- tile.doi %>" class="paper-link" target="_blank" rel="noopener">
        <div class="box paper" <%= metadataAttrs(tile) %>>

          <!-- Title -->
          <div class="listing-title">
            <%- tile.title %>
          </div>

          <!-- Journal and date -->
          <% if (tile.journal || tile.date) { %>
            <em class="listing-journal">
              <% if (tile.journal) { %><%- tile.journal %><% } %>
              <% if (tile.journal && tile.date) { %> ˖ <% } %>
              <% if (tile.date) { %><span class="listing-date"><%- tile.date %></span><% } %>
            </em>
          <% } %>

        </div>
      </a>

    <% } %>
  </div>

<% } %>

</div>
```